body {
    min-width: 900px;
}
div {
    /* border-style: solid; */
    /* border-width: 1px; */
}
div.menu-item {
    text-align: center;
    border-style: double;
    border-width: 1% 0;
    border-color: lightgrey;
}
ul.menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
li.menu-item {
    display: inline-block;
    width: 20%;
    line-height: 2.5em;
    background-color: grey;
    padding: 5px;
    margin: 1px 0;
}
li.menu-item.active {
    background-color: lightslategray;
    font-weight: bold;
}
a.menu-link {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

div.main {
    display: block;
    overflow: hidden;
    width: 90%;
    margin: 5px auto;
}

div.gallery {
    height: 400px;
    width: 90%;
    box-sizing: border-box;
    overflow: hidden;
}
div.section {
    float: left;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
div.w-full {
    width: 100%;
}
div.h-full {
    height: 100%;
}
div.w-half {
    width: 50%;
}
div.h-half {
    height: 50%;
}
div.half {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
div.section.top {
    padding-bottom: 2.5px;
}
div.section.bottom {
    padding-top: 2.5px;
}
div.section.left {
    padding-right: 2.5px;
}
div.section.right {
    padding-left: 2.5px;
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 10px;
}
div.shelf {
    float: left;
    width: 10%;
    font-weight: bold;
    text-align: center;
}
div.shelf-text {
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 20px;
}
div.articles-box {
    float: left;
    width: calc(80% - 4px);
    height: 100%;
}
div.article-preview {
    display: inline-block;
    border: 2px solid red;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
div.article-preview.half {
    width: calc(50% - 10px);
}
div.article-preview.w-full {
    width: calc(100% - 10px);
}

img {
    width: 100%;
}
div.gallery img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
div.gallery img.wide {
    width: 100%;
}
div.gallery img.narrow {
    height: 100%;
}
div.article-preview img {
    width: 70%;
    border-radius: 10px;
}
div.article-preview p {
    font-weight: normal;
    text-align: justify;
}
div.article-preview p.title {
    text-align: center;
    font-weight: bold;
}
div.article-preview button {
    margin-bottom: 10px;
}
div.article-preview button.left {
    margin-right: calc(100% - 120px);
}
div.article-preview button.right {
    margin-left: calc(100% - 120px);
}


div.article-preview.horizontal-layout {
    text-align: left;
    overflow: hidden;
}
div.article-preview.horizontal-layout .header-content {
    float: left;
    width: 70%;
}
div.article-preview.horizontal-layout img {
    width: 28%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    float: right;
    border-radius: 10px;
}
div.article-preview.horizontal-layout .title {
    float: left;
    width: 30%;
    margin: 0;
    text-align: left;
    font-weight: bold;
    padding-right: 15px;
    box-sizing: border-box;
}
div.article-preview.horizontal-layout .description {
    float: left;
    width: 70%;
    margin: 0;
    text-align: justify;
    padding-right: 15px;
    box-sizing: border-box;
}
div.article-preview.horizontal-layout .header-content button {
    float: right;
    margin-left: 30%;
    margin-top: 10px;
}