extends template

block header

block nav

    nav
        +createMenu(dictMenu, "Список машин")
    
block content

    details
        summary График
        form
            p
                b Значение по оси ОХ
                br
                label
                    input(type="radio", name="OXvalue", value="type")
                    |  Тип
                br
                label
                    input(type="radio", name="OXvalue", value="country")
                    |  Страна
                br
                label
                    input(type="radio", name="OXvalue", value="year")
                    |  Год
            p
                b Результат
                br
                label
                    input(type="checkbox", name="result", value="0")
                    |  Максимальная скорость
                br
                label
                    input(type="checkbox", name="result", value="1")
                    |  Минимальная скорость
            input(type="button", value="Построить")
        p Здесь будет график

    details
        summary Фильтр
        form
            p
                label Производитель: 
                    input(type="text", name="manufacturer")
            p
                label Название: 
                    input(type="text", name="name")
            p
                label Год: от 
                    input(type="number", name="year_from", size="6")
                label  до 
                    input(type="number", name="year_up_to", size="6")
            p
                label Страна: 
                    input(type="text", name="country")
            p
                label Тип: 
                    input(type="text", name="type")
            p
                label Привод: 
                    input(type="text", name="drive")
            p
                label Максимальная скорость: от 
                    input(type="number", name="max_speed_from", size="6")
                label  до 
                    input(type="number", name="max_speed_up_to", size="6")
            p
                input(type="button", value="Найти")

    details
        summary Сортировка
        form
            p
                label Первый уровень: 
                    select(name="first_level")
                        option(value="0", selected) Нет
                        option(value="1") Максимальная скорость
                        option(value="2") Год
                        option(value="3") Привод
                label
                    |  по убыванию?
                    input(type="checkbox", name="first_level_order", value="opposite")
            p
                label Второй уровень: 
                    select(name="second_level")
                        option(value="0", selected) Нет
                        option(value="1") Максимальная скорость
                        option(value="2") Год
                        option(value="3") Привод
                label
                    |  по убыванию?
                    input(type="checkbox", name="second_level_order", value="opposite")
            p
                label Третий уровень: 
                    select(name="third_level")
                        option(value="0", selected) Нет
                        option(value="1") Максимальная скорость
                        option(value="2") Год
                        option(value="3") Привод
                label
                    |  по убыванию?
                    input(type="checkbox", name="third_level_order", value="opposite")
            p
                input(type="button", value="Сортировать")

    br

    +addTable(carListHead,carList)
            