th, td {
  border: 1px solid;
}

.hide {
  display: none;
}

.currentPage {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

span {
  margin: 5px;
}

span:hover {
  color: red;
}

.errorText {
    color: red;
}

svg {
    width: 800px;
    height: 400px;
}

svg path, line {
    fill: none;
    stroke: black;
    width: 1px;
}
 
svg text {
    font: 8px Verdana;
}