extends template

block header

block nav

    nav
        +createMenu(dictMenu, 'Главная')
        
block content

    .gallery
        .gallery__image.gallery__image_top-left
            a(href= "car.html")
                img(src= require("../images/"+listImages[5]))

        .gallery__image.gallery__image_large-right
            img(src= require("../images/"+listImages[0]))

        .gallery__image.gallery__image_bottom-left
            img(src= require("../images/"+listImages[2]))
            img(src= require("../images/"+listImages[3]))


    .content

        .content__sidebar
            .content__sidebar-card
                img(src= require("../images/aston_m.jpg"), alt="Aston Martin Valkyrie")
                h3 Aston Martin Valkyrie
                p.content__sidebar-card-description.
                    Британский гиперкар, разработанный совместно с Red Bull Advanced
                    Technologies. Оснащён гибридной силовой установкой мощностью
                    около 1176 л.с. и обладает аэродинамическим дизайном, схожим с
                    болидами Формулы-1.

            .content__sidebar-card
                img(src= require("../images/Bugatti_Chiron_Super_Sport.jpg"), alt="Bugatti Chiron Super Sport")
                h3 Bugatti Chiron Super Sport
                p.content__sidebar-card-description.
                    Французский гиперкар с двигателем W16 мощностью 1600 л.с. Может
                    развивать скорость до 440 км/ч. Является продолжением легендарной
                    линии Bugatti Veyron и одним из самых роскошных автомобилей в мире.

            .content__sidebar-card
                img(src= require("../images/hennessey_venom_f5_roadster_3.jpg"), alt="Hennessey Venom F5 Roadster")
                h3 Hennessey Venom F5 Roadster
                p.content__sidebar-card-description.
                    Американский гиперкар с открытым верхом от техасской компании
                    Hennessey. Оснащён двигателем V8 Twin Turbo мощностью 1817 л.с.
                    и предназначен для борьбы за звание самого быстрого автомобиля в мире.

            .content__sidebar-card
                img(src= require("../images/koenigsegg_jesko_absolut.jpg"), alt="Koenigsegg Jesko Absolut")
                h3 Koenigsegg Jesko Absolut
                p.content__sidebar-card-description.
                    Шведский гиперкар, созданный для установления рекордов скорости.
                    Имеет двигатель V8 на биотопливе мощностью 1600 л.с. и один из
                    самых низких коэффициентов аэродинамического сопротивления среди
                    серийных автомобилей.


        .content__articles-grid

            article.content__article-card
                img(src= require("../images/koenigsegg_jesko_absolut.jpg"), alt="Koenigsegg Jesko Absolut")
                h3.content__article-title Koenigsegg Jesko Absolut
                p.
                    Koenigsegg Jesko Absolut — это шведский гиперкар, созданный specifically
                    для установления рекорда максимальной скорости. Оснащенный 5.0-литровым
                    двигателем V8 на биотопливе мощностью 1600 л.с., он обладает уникальной
                    аэродинамикой с коэффициентом лобового сопротивления всего 0.278 Cd,
                    что делает его одним из самых обтекаемых автомобилей в истории.
                    Благодаря модернизированной трансмиссии Light Speed Transmission,
                    облегченной конструкции и оптимизированной аэродинамике, Absolut
                    теоретически способен достигать скорости свыше 530 км/ч,
                    претендуя на звание самого быстрого серийного автомобиля в мире.
                button.content__article-btn(type="button") Подробнее»

            article.content__article-card
                h3.content__article-title Bugatti Chiron Super Sport
                p.
                    Bugatti Chiron Super Sport представляет собой вершину инженерной
                    мысли французского автопроизводителя, созданную для достижения
                    невероятных скоростей. Этот гиперкар оснащен модернизированным
                    8.0-литровым двигателем W16 с четырьмя турбинами, который выдает
                    1600 лошадиных сил и позволяет автомобилю разгоняться до 440 км/ч.
                    Модель Super Sport получила удлиненный кузов и оптимизированную аэродинамику
                    с уникальным обвесом и специально разработанные шины, способные выдерживать
                    экстремальные нагрузки на высоких скоростях. При этом инженерам удалось сохранить
                    роскошный интерьер и повседневную управляемость, что делает Chiron Super Sport
                    не просто гоночным автомобилем, а произведением искусства, сочетающим в себе
                    беспрецедентную производительность и элегантность.
                img(src= require("../images/Bugatti_Chiron_Super_Sport.jpg"), alt="Bugatti Chiron Super Sport")
                button.content__article-btn(type="button") Подробнее»

            article.content__article-card.content__article-card_featured
                .content__featured-content
                    h3.content__article-title Rimac Nevera
                    p.
                        Rimac Nevera — это революционный хорватский гиперкар, полностью
                        электрический и установивший множество мировых рекордов. Оснащенный
                        четырьмя независимыми электродвигателями суммарной мощностью 1914
                        л.с., он способен разогнаться до 100 км/ч за 1,97 секунды, а до
                        300 км/ч — менее чем за 9,3 секунды, что делает его одним из самых
                        быстрых серийных автомобилей в истории. Благодаря инновационной системе
                        полного привода и уникальной программной настройке, Nevera предлагает
                        не только феноменальную производительность, но и исключительную
                        управляемость, в то время как его батарея емкостью 120 кВт·ч обеспечивает
                        запас хода до 550 километров по стандарту WLTP, демонстрируя, что
                        электрические гиперкар могут быть одновременно невероятно мощными и 
                        практичными.
                    button.content__article-btn(type="button") Подробнее»
                img(src= require("../images/rimac_nevera.jpg"), alt="Rimac Nevera")


        .content__sidebar

            .content__sidebar-card
                img(src= require("../images/pininfarina_battista_674.jpg"), alt="Pininfarina Battista")
                h3 Pininfarina Battista
                p.content__sidebar-card-description.
                    Итальянский полностью электрический гиперкар от дизайнерского ателье Pininfarina.
                    Развивает 1900 л.с. и разгоняется до 100 км/ч за менее чем 2 секунды.

            .content__sidebar-card
                img(src= require("../images/rimac_nevera.jpg"), alt="Rimac Nevera")
                h3 Rimac Nevera
                p.content__sidebar-card-description.
                    Хорватский электромобиль с четырьмя электродвигателями общей мощностью 1914 л.с.

            .content__sidebar-card
                img(src= require("../images/SSC_Tuatara.jpg"), alt="SSC Tuatara")
                h3 SSC Tuatara
                p.content__sidebar-card-description.
                    Американский гиперкар от SSC North America, претендующий на звание
                    самого быстрого серийного автомобиля в мире.

            .content__sidebar-card
                img(src= require("../images/aston_m.jpg"), alt="Aston Martin Valkyrie")
                h3 Aston Martin Valkyrie
                p.content__sidebar-card-description.
                    Британский гиперкар, разработанный совместно с Red Bull Advanced Technologies.
