extends template

block header

block nav

    nav
        +createMenu(dictMenu, "Список машин")
    
block content

    details
        summary График
        form
            p
                b Значение по оси ОХ
                br
                label
                    input(type="radio", name="OXvalue", value="type")
                    |  Тип
                br
                label
                    input(type="radio", name="OXvalue", value="country")
                    |  Страна
                br
                label
                    input(type="radio", name="OXvalue", value="year")
                    |  Год
            p
                b Результат
                br
                label
                    input(type="checkbox", name="result", value="0")
                    |  Максимальная скорость
                br
                label
                    input(type="checkbox", name="result", value="1")
                    |  Минимальная скорость
            input(type="button", value="Построить")
        p Здесь будет график

    details
        summary Фильтр
        form
            p
                label Производитель: 
                    input(type="text", name="manufacturer")
            p
                label Название: 
                    input(type="text", name="name")
            p
                label Год: от 
                    input(type="number", name="year_from", size="6")
                label  до 
                    input(type="number", name="year_up_to", size="6")
            p
                label Страна: 
                    input(type="text", name="country")
            p
                label Тип: 
                    input(type="text", name="type")
            p
                label Привод: 
                    input(type="text", name="drive")
            p
                label Максимальная скорость: от 
                    input(type="number", name="max_speed_from", size="6")
                label  до 
                    input(type="number", name="max_speed_up_to", size="6")
            p
                input(type="button", value="Найти")

    details
        summary Сортировка
        form
            +sortLevel("Первый уровень", "first_level", carListHead)
            +sortLevel("Второй уровень", "second_level", carListHead)
            +sortLevel("Третий уровень", "third_level", carListHead)
            p
                input(type="button", value="Сортировать")

    br

    +addTable(carListHead,carList)
            