block variables
- var title = 'Самые быстрые и современные автомобили'
-
	var dictMenu = {'Главная': 'index.html', 
			'Список машин' : 'list.html',  
			'Галерея': "#", 
			'Новости': "#"
	}
	
- var listImages = ['aston_m.jpg', 'Bugatti_Chiron_Super_Sport.jpg', 'hennessey_venom_f5_roadster_3.jpg', 'koenigsegg_jesko_absolut.jpg', 'pininfarina_battista_674.jpg', 'rimac_nevera.jpg', 'SSC_Tuatara.jpg']

-
	var listSections = [
		{'header' : 'Бурдж-Халифа в Дубае, ОАЭ',
		'image' : 'image7.jpg', 
		'text' : 'Небоскрёб высотой 828 метров, самое высокое сооружение в мире. Форма здания напоминает сталагмит.'
		},
		{'header' : 'Токийское небесное дерево, Япония',
		'image' : 'image6.jpg', 
		'text' : 'Телевизионная башня в районе Сумида самая высокая среди телебашен мира. Высота телебашни вместе с антенной составляет 634 метра.'
		},
		{'header' : 'CN Tower, Канада',
		'image' : 'image8.jpg', 
		'text' : 'Си-Эн Тауэр  — самое высокое свободно стоящее сооружение в мире с 1976 по 2007 год. Его высота составляет 553,33 метра.'
		}
	]

-
	var cars = [
		{
			menuItem : 'Rimac Nevera',
			pict : listImages[5],
			firstP : `Rimac Nevera — полностью электрический гиперкар от хорватской компании Rimac Automobili, ставший флагманской модельюмарки. Название
				«Nevera» отсылает к мощной средиземноморской буре; автомобиль построен на лёгкой карбоновой монококе и выходит ограниченной серией
				(производство ориентировано на небольшое количество экземпляров). Конструкция и программная начинка сильно ориентированы на максимальную 
				производительность: активная аэродинамика, продвинутая система рекуперации и интенсивное использование программного контроля для управления 
				силовой установкой и шасси.`,
			secondP : `По характеристикам Nevera близка к рекордным суперкарам: четыре независимых электромотора, суммарная мощность около 1 914 л.с. 
				(≈1 408 кВт) и очень высокий пиковый крутящий момент — данные производителя приводят значения порядка 2 360 Н·м (на колёсах). Заявленный разгон 
				до 60 миль/ч — 1,85 с, до 100 км/ч — порядка 1,9–2,0 с; максимальная скорость официально заявлена на уровне ≈412 км/ч. Автомобиль оснащён крупной 
				батареей ~120 кВт·ч и продвинутой системой векторизации крутящего момента для точного распределения тяги между колёсами. Частично перечисленные 
				показатели — заявленные производителем; некоторые параметры (особенно ускорения) подтверждались независимыми тестами, для максимальной скорости
				стоит проверять источники и методику измерения.`
		},
				
	]

-	var carListHead = ['Производитель','Название','Год','Страна','Тип','Привод','Максимальная скорость (км/ч)']

-
	var carList = [
		{ brand: "Devel", model: "Sixteen", year: 2017, country: "ОАЭ", type: "гиперкар", drive: "RWD", top_speed: 560 },
		{ brand: "SSC", model: "Tuatara", year: 2020, country: "США", type: "гиперкар", drive: "RWD", top_speed: 532 },
		{ brand: "Koenigsegg", model: "Jesko Absolut", year: 2020, country: "Швеция", type: "гиперкар", drive: "RWD", top_speed: 531 },
		{ brand: "Hennessey", model: "Venom F5", year: 2017, country: "США", type: "гиперкар", drive: "RWD", top_speed: 500 },
		{ brand: "Bugatti", model: "Chiron Super Sport 300+", year: 2019, country: "Франция", type: "гиперкар", drive: "AWD", top_speed: 490 },
		{ brand: "Koenigsegg", model: "Agera RS", year: 2017, country: "Швеция", type: "гиперкар", drive: "RWD", top_speed: 447 },
		{ brand: "Koenigsegg", model: "One:1", year: 2014, country: "Швеция", type: "гиперкар", drive: "RWD", top_speed: 440 },
		{ brand: "Bugatti", model: "Veyron Super Sport", year: 2010, country: "Франция", type: "гиперкар", drive: "AWD", top_speed: 431 },
		{ brand: "Bugatti", model: "Chiron", year: 2016, country: "Франция", type: "гиперкар", drive: "AWD", top_speed: 420 },
		{ brand: "SSC", model: "Ultimate Aero", year: 2007, country: "США", type: "гиперкар", drive: "RWD", top_speed: 412 },
		{ brand: "Rimac", model: "Nevera", year: 2021, country: "Хорватия", type: "электрический гиперкар", drive: "AWD", top_speed: 412 },
		{ brand: "Koenigsegg", model: "Regera", year: 2015, country: "Швеция", type: "гибридный гиперкар", drive: "RWD", top_speed: 410 },
		{ brand: "McLaren", model: "Speedtail", year: 2018, country: "Великобритания", type: "гиперкар", drive: "RWD", top_speed: 403 },
		{ brand: "Saleen", model: "S7 Twin Turbo", year: 2005, country: "США", type: "суперкар", drive: "RWD", top_speed: 399 },
		{ brand: "W Motors", model: "Lykan HyperSport", year: 2013, country: "ОАЭ", type: "гиперкар", drive: "AWD", top_speed: 395 },
		{ brand: "McLaren", model: "F1", year: 1998, country: "Великобритания", type: "суперкар", drive: "RWD", top_speed: 386 },
		{ brand: "Pagani", model: "Huayra BC", year: 2016, country: "Италия", type: "гиперкар", drive: "RWD", top_speed: 380 },
		{ brand: "Lamborghini", model: "Veneno", year: 2013, country: "Италия", type: "гиперкар", drive: "AWD", top_speed: 355 },
		{ brand: "Pagani", model: "Zonda R", year: 2009, country: "Италия", type: "трековый гиперкар", drive: "RWD", top_speed: 350 },
		{ brand: "Ferrari", model: "LaFerrari", year: 2013, country: "Италия", type: "гибридный гиперкар", drive: "RWD", top_speed: 350 },
		{ brand: "Ferrari", model: "Enzo", year: 2002, country: "Италия", type: "суперкар", drive: "RWD", top_speed: 350 },
		{ brand: "Aston Martin", model: "One-77", year: 2010, country: "Великобритания", type: "гиперкар", drive: "RWD", top_speed: 354 },
		{ brand: "Lamborghini", model: "Aventador SVJ", year: 2018, country: "Италия", type: "суперкар", drive: "AWD", top_speed: 350 },
		{ brand: "McLaren", model: "P1", year: 2013, country: "Великобритания", type: "гибридный гиперкар", drive: "RWD", top_speed: 350 },
		{ brand: "Ferrari", model: "F50", year: 1995, country: "Италия", type: "суперкар", drive: "RWD", top_speed: 325 },
		{ brand: "Ferrari", model: "F40", year: 1987, country: "Италия", type: "суперкар", drive: "RWD", top_speed: 324 },
		{ brand: "Porsche", model: "918 Spyder", year: 2013, country: "Германия", type: "гибридный гиперкар", drive: "AWD", top_speed: 345 },
		{ brand: "Porsche", model: "911 GT2 RS (991)", year: 2018, country: "Германия", type: "спортивный автомобиль", drive: "RWD", top_speed: 340 },
		{ brand: "Jaguar", model: "XJ220", year: 1992, country: "Великобритания", type: "суперкар", drive: "RWD", top_speed: 341 },
		{ brand: "Ford", model: "GT (2017)", year: 2017, country: "США", type: "суперкар", drive: "RWD", top_speed: 347 },
		{ brand: "Maserati", model: "MC12", year: 2004, country: "Италия", type: "суперкар", drive: "RWD", top_speed: 330 },
		{ brand: "Zenvo", model: "ST1 / TSR", year: 2009, country: "Дания", type: "гиперкар", drive: "RWD", top_speed: 375 },
		{ brand: "Vector", model: "W8", year: 1992, country: "США", type: "суперкар", drive: "RWD", top_speed: 322 },
		{ brand: "Gumpert", model: "Apollo", year: 2005, country: "Германия", type: "суперкар", drive: "RWD", top_speed: 350 },
		{ brand: "SSC", model: "Tuatarа (prototype claims)", year: 2020, country: "США", type: "гиперкар", drive: "RWD", top_speed: 532 },
		{ brand: "De Tomaso", model: "P72 (ретро‑гиперкар)", year: 2020, country: "Италия", type: "суперкар", drive: "RWD", top_speed: 320 },
		{ brand: "Koenigsegg", model: "CCR", year: 2004, country: "Швеция", type: "суперкар", drive: "RWD", top_speed: 388 },
		{ brand: "Glickenhaus", model: "SCG 004S", year: 2020, country: "США", type: "суперкар", drive: "RWD", top_speed: 320 },
		{ brand: "Lotus", model: "Evija", year: 2020, country: "Великобритания", type: "электрический гиперкар", drive: "AWD", top_speed: 320 },
		{ brand: "RUF", model: "CTR3", year: 2007, country: "Германия", type: "суперкар", drive: "RWD", top_speed: 360 },
		{ brand: "Alfa Romeo", model: "8C Competizione", year: 2007, country: "Италия", type: "суперкар", drive: "RWD", top_speed: 300 },
		{ brand: "Pagani", model: "Zonda Cinque", year: 2009, country: "Италия", type: "гиперкар", drive: "RWD", top_speed: 350 },
		{ brand: "Lamborghini", model: "Huracán Performante", year: 2017, country: "Италия", type: "суперкар", drive: "AWD", top_speed: 325 },
		{ brand: "Lotus", model: "Evora GT", year: 2010, country: "Великобритания", type: "спортивный автомобиль", drive: "RWD", top_speed: 300 },
		{ brand: "Tesla", model: "Roadster (2nd gen, claimed)", year: 2017, country: "США", type: "электрический суперкар", drive: "AWD", top_speed: 400 },
		{ brand: "BMW", model: "M8 GTE / concept speeds", year: 2019, country: "Германия", type: "гран-турер", drive: "AWD", top_speed: 305 },
		{ brand: "Dodge", model: "Viper ACR (track configs)", year: 2016, country: "США", type: "суперкар", drive: "RWD", top_speed: 340 },
		{ brand: "Chevrolet", model: "Corvette C8 Z06 (claimed)", year: 2023, country: "США", type: "спортивный автомобиль", drive: "RWD", top_speed: 330 }
	];
